<div class="container-fluid">

    <div class="row" style="padding-top: 50px;">
        <div class="col-sm-6">
            <div (click)="addBank()" class="btn btn-default btn-lg btn-custom-lg ">
                Bank <i class="bi bi-arrow-right"></i> Add
            </div>
        </div>
        <div class="col-sm-6">
            <div (click)="getBank()" class="btn btn-default btn-lg btn-custom-lg ">
                Bank <i class="bi bi-arrow-right"></i> Edit / View
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 50px;">          
        <div class="col-sm-6">
            <div (click)="getBank()"
                class="btn btn-default btn-lg btn-custom-lg ">
                Bank <i class="bi bi-arrow-right"></i> Account
            </div>
        </div>
        <div class="col-sm-6">
            <div (click)="getTransaction()" class="btn btn-default btn-lg btn-custom-lg ">
                Bank <i class="bi bi-arrow-right"></i> Account <i class="bi bi-arrow-right"></i> Transaction
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 50px;">       
        <div class="col-sm-6">
            <div (click)="getStatement()" 
                class="btn btn-default btn-lg btn-custom-lg ">
                Bank <i class="bi bi-arrow-right"></i> Account <i class="bi bi-arrow-right"></i> Statement
            </div>
        </div>
        <div class="col-sm-6">
            <div (click)="addAccount()" class="btn btn-default btn-lg btn-custom-lg ">
                Account <i class="bi bi-arrow-right"></i> Add
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 50px;">     
        <div class="col-sm-6">
            <div (click)="getAccounts()" class="btn btn-default btn-lg btn-custom-lg ">
                Account <i class="bi bi-arrow-right"></i> Edit / View
            </div>
        </div>     
    </div>
</div>