.ccTitleHeader {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: x-large;
    font-style: italic;
}

.apiError {
    text-align: center;
    color: red;
    font-size: xx-large;
    font-weight: bold;
}