<div class="container main-container">
    <div>
        <h2>
            View Account Statement
        </h2>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-11 mx-auto">
            <div class="card">
                <div class="card-header account-statement-all">
                    <h3>
                        <div class="row">
                            <div class="col-md-2 mx-auto">
                                <button type="button" (click)="goBack()" class="btn btn-primary">
                                    <i class="bi bi-backspace-fill"> Cancel</i>
                                </button>
                            </div>
                            <div class="col-md-10 mx-auto">
                                <h5>
                                    <div class="card">
                                        <div class="card-body">
                                            <form class="form" [formGroup]="dateRangeForm">

                                                <!-- group by -->
                                                <div class="form-group">
                                                    <div class="row mb-3">
                                                        <label for="GroupBy" class="col-sm-2 col-form-label">
                                                            Group By
                                                        </label>
                                                        <div class="col-sm-3">
                                                            <select class="form-control" (change)="updateTrList($event)"
                                                                formControlName="GroupBy">
                                                                <option disabled>Select Group By</option>
                                                                <option selected value="">Default</option>
                                                                <option value={{gbyc}}
                                                                    *ngFor="let gbyc of groupByCollection">
                                                                    {{gbyc}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group datepicker">
                                                    <div class="row mb-3">
                                                        <label for="StartDate" class="col-sm-2 col-form-label">Start
                                                            Date</label>
                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                                                        name="dp" formControlName="StartDate"
                                                                        ngbDatepicker #d="ngbDatepicker">
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <span class="input-group-append">
                                                                        <button
                                                                            class="btn btn-outline-secondary calendar"
                                                                            (click)="d.toggle()" type="button">
                                                                            <i class="bi bi-calendar-check-fill"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="col-sm-4 text-danger"
                                                            *ngIf="(dateRangeFormControl.StartDate.touched || submitted) && dateRangeFormControl.StartDate.errors?.required">
                                                            Start Date is required!
                                                        </span>
                                                        <span class="col-sm-4 text-danger"
                                                            *ngIf="(dateRangeFormControl.StartDate.touched || submitted) && !dateRangeFormControl.StartDate.valid && !dateRangeFormControl.StartDate.errors?.required ">
                                                            Invalid Start Date !
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="form-group datepicker">
                                                    <div class="row mb-3">
                                                        <label for="EndDate" class="col-sm-2 col-form-label">End
                                                            Date</label>
                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                                                        name="dpe" formControlName="EndDate"
                                                                        ngbDatepicker #de="ngbDatepicker">
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <span class="input-group-append">
                                                                        <button
                                                                            class="btn btn-outline-secondary calendar"
                                                                            (click)="de.toggle()" type="button">
                                                                            <i class="bi bi-calendar-check-fill"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="col-sm-4 text-danger"
                                                            *ngIf="(dateRangeFormControl.EndDate.touched || submitted) && dateRangeFormControl.EndDate.errors?.required">
                                                            End Date is required!
                                                        </span>
                                                        <span class="col-sm-4 text-danger"
                                                            *ngIf="(dateRangeFormControl.EndDate.touched || submitted) && !dateRangeFormControl.EndDate.valid && !dateRangeFormControl.EndDate.errors?.required ">
                                                            Invalid End Date !
                                                        </span>
                                                        <span class="col-sm-4 text-danger" *ngIf="invalidEndDate">
                                                            End Date &lt; Start Date !
                                                        </span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <button type="button" (click)="getAccountStatementDateRange()"
                                                        class="btn btn-success">
                                                        Date Range Transactions!
                                                    </button>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button type="button" (click)="getAccountStatementAll()"
                                                        class="btn btn-info">
                                                        All Transactions!
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <!-- account statement -->
    <div *ngIf="accountStatement.accountId" class="container">
        <hr />
        <p></p>
        <div>
            <p></p>
            <div class="row">
                <!-- bank -->
                <div class="col-sm-4 headerBank">
                    <h5>Bank : <b>{{accountStatement.bankName}}</b></h5>
                </div>
                <!-- account -->
                <div class="col-sm-8 headerAccount">
                    <h5>
                        Account :
                        <b>
                            {{accountStatement.accountNumber}} -
                            [{{accountStatement.accountTypeDisplay}}]
                        </b>
                        <p></p>
                        Balance : <b class="balance">{{accountStatement.lastBalance}}</b>
                    </h5>
                </div>
            </div>
            <p></p>
            <hr />
            <app-account-transaction [childTransactions]="childTransactions"
                [lastAccountBalance]="accountStatement.lastBalance">
            </app-account-transaction>
            <hr />
            <p></p>
        </div>
    </div>
</div>