.mainContainer {
    padding: 50px;
}

.statementSuccess {
    color: green;
    font-size: large;
    font-weight: bold;
}

.statementError {
    color: red;
    font-size: large;
    font-weight: bold;
}

.modelError {
    color: red;
    font-size: medium;
    font-weight: bold;
    margin-top: 30px;
}

.statHeader {
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: large;
}

.closingBalance{
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
}
.mainHeader{
    margin-bottom: 20px;
}